.container__grid{

    display:grid;
    grid-template-columns: 150px 150px;
}

.container__grid p {

    color:blue;
}

body{
    background-color:aqua;
}



h1{

    color:brown;
}

h2{
    background-color:yellow;
}
=======
p{
    color:red;
}

span{
    background-color:blue;
}
